include header
body
  h1 ピザのトッピング
  .checkbox
    label
      input(type="checkbox" name="topping" value="cheese")
      |チーズ
    label
      input(type="checkbox" name="topping" value="tomato")
      |トマト
    label
      input(type="checkbox" name="topping" value="sarami")
      |サラミ  
  .relative
    img(class="kiji" src="images/kiji.png")
    img(class="cheese" src="images/cheese.png")
    img(class="tomato" src="images/tomato.png")
    img(class="sarami" src="images/sarami.png")
  script(src="app.js")
